@{
    ViewBag.Title = "Manage";
    ViewBag.BCHeader = "Report";
    ViewBag.BCAction = "Index";
    ViewBag.BCController = "Home";
    ViewBag.BCActionText = "Home";

    ViewBag.ReportLinkClass = "active-link";
}



@Html.Partial("_Breadcrumb")

<section class="blog-details spad">
    <div class="container">
        <div class="row">
            @Html.Partial("_LeftPanel")
            <div class="col-lg-8 order-lg-2 order-1">
                <div id="root"></div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    @Scripts.Render("~/dist/Manage/Report.js")
}

