@{
    ViewBag.Title = "Confirm Email";
    ViewBag.BCHeader = "Connfirm Email";

    ViewBag.BCActionText = "Register";
    ViewBag.BCAction = "Register";
    ViewBag.BCController = "Account";
}

@Html.Partial("_Breadcrumb")

<h2>@ViewBag.Title.</h2>
@if (ViewBag.errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.errorMessage
    </div>
}
else
{
    <div>
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
}