
@{
    ViewBag.Title = "Disabled";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.BCActionText = "";
    ViewBag.BCAction = "";
    ViewBag.BCController = "";
    ViewBag.BCHeader = "";
}

@Html.Partial("_Breadcrumb")


<div class="alert alert-danger" role="alert">
    Your account has beed disabled
</div>

