@{
    ViewBag.Title = "Login Failure";
    ViewBag.BCHeader = "Login";
    ViewBag.BCAction = "Index";
    ViewBag.BCController = "Home";
    ViewBag.BCActionText = "Home";
}
@Html.Partial("_Breadcrumb")

<hgroup>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>


@{
    if (ViewBag.errorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.errorMessage
        </div>
    }
}
