
@{
    ViewBag.Title = "Create Post";
    ViewBag.BCHeader = "Create Post";
    ViewBag.BCAction = "";
    ViewBag.BCController = "";
    ViewBag.BCActionText = "";
}

@Html.Partial("_Breadcrumb")

@Html.AntiForgeryToken()

<div id="root">

</div>

@section Scripts{
    @Scripts.Render("~/dist/Post/Create.js")
}