.login-form {
    max-width: 35rem;
    margin: 0 auto;
    padding: 1.5rem;
}

    .login-form input {
        padding: 1.5rem;
        border: 1px solid #eee;
        color: #333;
        border-radius: 4px;
        margin-bottom: 1.5rem;
        display: block;
        width: 100%;
        transition: border 0.25s linear;
        font-weight: normal;
    }

        .login-form input:focus {
            border-color: var(--primary);
        }

    .login-form .forgot {
        display: inline-block;
        text-transform: uppercase;
        color: #333;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    .login-form button {
        width: 100%;
        padding: 1.5rem;
        border-radius: 4px;
        color: white;
        background-color: var(--primary);
        text-transform: uppercase;
    }

    .login-form .input-icon {
        position: relative;
    }

        .login-form .input-icon input {
            padding-right: 4rem;
        }

        .login-form .input-icon i {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translateY(-50%);
            color: #ccc;
            cursor: pointer;
        }
