
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="root">
    </div>
</body>

@Scripts.Render("~/dist/Admin/App.js")
</html>
