
@{
    ViewBag.Title = "Create Club";
    ViewBag.BCHeader = "Create Club";
    ViewBag.BCAction = "";
    ViewBag.BCController = "";
    ViewBag.BCActionText = "";
}

@Html.Partial("_Breadcrumb")

@Html.AntiForgeryToken()

<div id="root">
    <!-- Leave Comment Begin -->
    <!--<div class="leave-comment spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="leave__comment__text">
                        <h2>Create New Club</h2>
                        <form action="#">
                            <div class="row">

                                <div class="col-lg-12 col-md-12">
                                    <label class="label-for">Name:</label>
                                    <input type="text" placeholder="Enter your club name">
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label class="label-for">Address:</label>
                                    <input type="text" placeholder="Enter your club address">
                                </div>

                                <div id="google-map-preview">

                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label class="label-for">Operation Hours:</label>
                                    <input type="text" placeholder="Enter your operation hours, ex: Mon- Fri, 10:30AM to 11:00PM">
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label class="label-for">Established at:</label>
                                    <input type="date" placeholder="Enter your club establish time">
                                </div>

                                <div class="col-lg-12">
                                    <label class="label-for">Description:</label>
                                    <textarea placeholder="Enter some description about your club"></textarea>
                                </div>

                                <div class="col-lg-12 col-md-12" style="margin-bottom: 10px;">
                                    <label class="label-for">Category:</label>
                                    <br />
                                    <div class="custom-control custom-checkbox d-inline">
                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                        <label class="custom-control-label" for="customCheck">Check this custom checkbox</label>
                                    </div>

                                    <div class="custom-control custom-checkbox d-inline">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                    </div>
                                </div>

                                <div class="col-lg-12 text-center">
                                    <button class="site-btn">Submit</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Leave Comment End -->


    <div id="test">

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/dist/FormCreate.js")
}