
@{
    ViewBag.Title = "Edit Club";
    ViewBag.BCHeader = "Edit Club";
    ViewBag.BCAction = "";
    ViewBag.BCController = "";
    ViewBag.BCActionText = "";
}

@Html.Partial("_Breadcrumb")

@Html.AntiForgeryToken()

@Html.Hidden("__ClubId", (int)ViewBag.ClubId)

<div id="root">

    <div id="root">

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/dist/EditForm.js")
}